@page
@model LockoutModel
@{
    ViewData["Title"] = "Utlåst";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Det här kontot har blivit låst, var god och försök igen senare.</p>
</header>
