@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bekräfta återställning av lösenord";
}
<body class="adminpage">
    <h1>@ViewData["Title"]</h1>
    <p>
        Ditt lösenord har återställts. Var god och <a asp-page="./Login">Klicka här för att logga in</a>.
    </p>
</body>