@page
@model Snackis_Attempt_1.Pages.RoleAdmin.IndexModel
@{
}
<h4>Skapa en ny roll? Fyll i nedanför</h4>
<form method="post">
	<label for="RoleName"></label>
	<input name="RoleName" id="RoleName" />
	<input type="submit" value="Create new role" />
</form>

<table class="table">
	<tr>
		<th>Username</th>
		@foreach (var role in Model.Roles)
		{
			<th>@role.Name</th>
		}
	</tr>
	@foreach (var user in Model.Users)
	{
		<tr>
			<td>@user.UserName</td>
			@foreach (var role in Model.Roles)
			{
				if (await Model._userManager.IsInRoleAsync(user, role.Name))
				{
					<td><a href="?RemoveUserId=@user.Id&RoleName=@role.Name">Ja</a></td>
				}
				else
				{
					<td><a href="?AddUserId=@user.Id&RoleName=@role.Name">Nej</a></td>
				}
			}
		</tr>

	}
</table>
