@page
@model AdminPageModel
@{
}
<body class="adminpage">
	<h3>Adminsida</h3>

	<div class="admin-menu">
		<ul>
			<li><a asp-page="./RoleAdmin">Kolla användare/roller</a></li>
			<li><a asp-page="./CategoryAdmin">Skapa/Ändra kategorier</a></li>
			<li><a asp-page="./CourtAdmin">Domstol för flaggade kommentarer/användare</a></li>
		</ul>
	</div>
	
</body>



