@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritets Policy";
}
<body class="adminpage">
    <h1>@ViewData["Title"]</h1>

    <p>Vi använder Cookies för att spara ditt kontos inloggninsuppgifter för att kunna hålla dig inloggad i framtiden.</p>
</body>

